*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
}
.display-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.display-screen{
    width: 450px;
    height:125px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(141, 102, 232);
    margin: 30px;
    background-color: rgb(239, 239, 239);
    text-align: right;
    font-size: 100px;
    color:rgb(141, 102, 232);
    overflow:scroll; /* looking for a better alternative to long numbers */
}

.calculator-container{
    width: 500px;
    height:700px;
    border-style: solid;
    border-color: rgb(141, 102, 232);
    border-radius: 30px;
    /* overflow: hidden; */
    background-color: rgb(84, 58, 146);
}

.button-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

button{
    width: 85px;
    height: 75px;
    background-color:rgb(164, 131, 242);
    color:white;
    font-size: 24px;
    font-weight: bolder;
    border-radius: 16px;
    border-color: rgb(164, 131, 242);
}

button#zero{
    width: 190px;
}

.button-pressed{
    background-color: rgb(214, 197, 255);
}